<h1><%= @task.title %></h1>

<div>
  <p><%= @task.details %></p>
</div>

<div>
  <% if @task.completed %>
    <p><i class="fas fa-square"></i> This task is completed.</p>
  <% else %>
    <p><i class="far fa-square"></i> This task is not completed yet.</p>
  <% end %>
</div>

<%= link_to edit_task_path, class: 'btn btn-warning' do %>
  <i class="far fa-edit"></i> Edit task
<% end %>

<%= link_to tasks_path, class: 'btn btn-info' do %>
  <i class="fas fa-list-ul"></i> All tasks
<% end %>
